taskgen_n8n.json
{"createdAt":"2025-07-24T16:46:17.990Z","updatedAt":"2025-07-28T17:56:05.000Z","id":"GqVPRMiMozsz2FjR","name":"My workflow","active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json['What\\'s your next conquest?'] }}","options":{"systemMessage":"Role: You are a deeply knowledgeable, experienced, and encouraging strategic and tactical planner.\n\nTask: You must utilize your vast knowledge of how objectives like this have been accomplished,  determine the most effective strategy, and build a  realistic set of step in alignment with that strategy.  \n\nConstraints:\nAvoid profane and disrespectful information.\nAvoid all illegal, unethical, and immoral guidance, methods, and actions.\n\nInput: You will be given a description of the person's objective.\n\nOutput: You must organize the response in the form of a bulleted list. This list must be broken down in terms of the  milestones, tasks, and steps required.  Additionally provide an assessment of the priority of each.\n\nCapabilities and Reminders:  You have a vast amount of information at your disposal.  Remember to use it effectively by focusing on the most proven and highest quality guidance available to you.  Also glean as many clues from the request to customize the response."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[208,16],"id":"fbda44c5-b75f-452b-a397-c2215a8aa751","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"o3-mini","mode":"list","cachedResultName":"o3-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[208,224],"id":"eba39a07-a741-4ff6-92f8-26e1cefc9093","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"h35UvFxIpVBj0ujR","name":"OpenAi account"}}},{"parameters":{"formTitle":"Task List Generator","formFields":{"values":[{"fieldLabel":"What's your next conquest?","placeholder":"Describe your end goal here","requiredField":true}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-32,16],"id":"192d9a8e-d1b1-4481-8ec5-eaa289b9efc3","name":"On form submission","webhookId":"95afe637-cae3-485f-b577-f4b4ed3f9379"},{"parameters":{"operation":"completion","respondWith":"showText","responseText":"={{ $json.output }}"},"type":"n8n-nodes-base.form","typeVersion":1,"position":[608,16],"id":"c4a48bee-8419-4e9c-98a3-650d59727ed1","name":"Form1","webhookId":"68a656ec-ac85-4865-9518-668d06d1c2f4"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Form1","type":"main","index":0}]]},"On form submission":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Form1":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"597a4ce8-f7e0-4065-a103-76aea5f10de4","triggerCount":0,"shared":[{"createdAt":"2025-07-24T16:46:17.996Z","updatedAt":"2025-07-24T16:46:17.996Z","role":"workflow:owner","workflowId":"GqVPRMiMozsz2FjR","projectId":"puM4HtmNdzmWMnZq","project":{"createdAt":"2025-07-24T16:34:15.408Z","updatedAt":"2025-07-24T16:36:48.803Z","id":"puM4HtmNdzmWMnZq","name":"Dennis Dixon <ddixonjr@gmail.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-07-24T16:34:15.408Z","updatedAt":"2025-07-24T16:34:15.408Z","role":"project:personalOwner","userId":"60eab483-6dc1-45b5-b826-c776be6e9b09","projectId":"puM4HtmNdzmWMnZq","user":{"createdAt":"2025-07-24T16:34:15.342Z","updatedAt":"2025-07-28T04:06:50.000Z","id":"60eab483-6dc1-45b5-b826-c776be6e9b09","email":"private@xyzmnop.nope","firstName":"Dennis","lastName":"Dixon","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-07-24T16:39:01.918Z","personalization_survey_n8n_version":"1.103.2","automationGoalDevops":["other"],"automationGoalDevopsOther":"Learning capabilities of and how to use n8n","companySize":"personalUser","companyType":"education","role":"engineering","reportedSource":"other","reportedSourceOther":"Arnold Oberleiter's Udemy Course"},"settings":{"userActivated":false,"easyAIWorkflowOnboarded":true},"role":"global:owner","disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-07-28","isPending":false}}]}}],"tags":[]}